<!DOCTYPE html>
<html>
  <head>
    <title>Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <h1>
      Page Not Found
    </h1>
    <h2>
      <% if (typeof error !== 'undefined') { %>
      <%= error %>
      <% } else { %>
          The page you were trying to reach doesn't exist.
      <% } %>
    </h2>
  </body>
</html>
