<!DOCTYPE html>
<html>
  <head>
    <title><%=_("HOME") %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>

    <%- body %>

    <footer class="footer" role="contentinfo">
      <div class="footer-links">
        <ul>
          <li><a href="https://www.linkedin.com/in/grace-carey-55ba4a55"><i class="fa fa-linkedin icon-circle"></i> LinkedIn</a></li>
          <li><a href="https://github.com/gracecarey"><i class="fa fa-github icon-circle"></i> Github</a></li>
          <li><a href="http://codepen.io/gracecarey/"><i class="fa fa-codepen icon-circle"></i> Codepen</a></li>
          <li><a href="/pdf/grace_carey_resume.pdf"><i class="fa fa-file icon-circle"></i> Resume</a></li>
        </ul>
      </div>

      <p class="horizontal-decor-white">&copy; Grace Carey. All rights reserved</p>
    </footer>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    
    <!--SCRIPTS END-->
  </body>
</html>
