<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/">
      <h1><%=_("Grace Carey") %></h1></a>
  </div>
</header>
<section>
    <%=portfolio_item.title%>
</section>
