// @import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1200px;

// Neat Breakpoints
$small-screen: 400;
$medium-screen: 800;
$large-screen: 900;

$small-screen-up: new-breakpoint(min-width em($small-screen));
$medium-screen-up: new-breakpoint(min-width em($medium-screen));
$large-screen-up: new-breakpoint(min-width em($large-screen));

$small-screen: new-breakpoint(min-width em($small-screen) max-width em($medium-screen - 1));
$medium-screen: new-breakpoint(min-width em($medium-screen) max-width em($large-screen - 1));
