.hero {
  $base-border-radius: 3px !default;
  $large-screen: em(860) !default;
  $gradient-angle: 10deg;
  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: $padding-lg;
    padding-left: $padding-x;
    padding-right: $padding-x;
    text-align: center;

    .hero-copy {
      text-align: center;
      hr {
        border-bottom: 2px solid $off-white;
      }
      h1, p{
        text-transform: uppercase;
      }
      h1 {
        font-size: 6em;
        line-height: .8em;
        margin-bottom: .2em;
      }
      p {
        @include bebas-neue();
        margin: 0 auto;
        font-size: 1.4em;
        line-height: 1.1em;
        color: darken($blue-gray, 20%);
        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 80%;
        }
        >.emphasis{
          color: darken($blue-gray, 25%);
        }
        > i {
          color: $off-white;
        }
      }
    }
  }
}
