@include font-face("Ostrich Sans Inline", "../fonts/ostrich-sans-inline-regular", $file-formats: woff ttf svg eot);
@include font-face("Bebas Neue", "../fonts/BebasNeueRegular", $file-formats: woff ttf svg eot);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@mixin ostrich-sans-inline() {
  font-family: 'Ostrich Sans Inline', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
@mixin bebas-neue(){
  font-family: "Bebas Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  line-height: 1.35em;
  color: $brown;
  font-weight: 500;
  text-transform: uppercase;
}

@mixin roboto(){
  font-family: 'Roboto', sans-serif;
}

@mixin title($color){
  color: $color;
  @include bebas-neue();
  font-size: 1.4em;
  line-height: .8em;
  font-weight: 400;
}

@mixin horizontal-decor($color){
  color: $color;
  overflow: hidden;
  text-align: center;
  margin-bottom: .5em;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  &:before,
  &:after {
      background-color: $color;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
      top: 0px;
  }
  &:before {
      right: 0.5em;
      margin-left: -50%;
  }
  &:after {
      left: 0.5em;
      margin-right: -50%;
  }
}

@mixin title-horizontal-decor(){
  @include bebas-neue();
  font-size: 1.4em;
  line-height: 1.1em;
  color: $brown;
  @include horizontal-decor(lighten($brown, 20%));
  font-weight: 400;
}

@mixin pseudo(){
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  content: "";
}
