.portfolio-grid{
  display: flex;
  flex-wrap: wrap;
  >li{
    flex-grow: 1;
    min-width: 50%;
    display: block;
    padding-left: 2%;
    padding-right: 2%;
    @include media($small-screen-up) {
      min-width: 33.33%;
    }
    @include media($medium-screen-up) {
      min-width: 25%;
    }
    @include media($large-screen-up) {
      min-width: 25%;
      padding-left: auto;
      padding-right: auto;
    }
    > a.grid-item {
      max-width:320px;
      @include media($small-screen-up) {
        max-width:300px;
      }
      @include media($medium-screen-up) {
        max-width:280;
      }
      @include media($large-screen-up) {
        max-width:240px;
      }
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 25px;
      > .img-container {
        > img {
          width: 100%;
        }
        &:after{
          @include pseudo();
          @include transition-property(all);
          @include transition-duration(.2s);
          @include transition-timing-function(ease-in);
          background-color: transparentize($green-blue, .8);
        }
      }
      > .centered-text-container {
        padding-top: 1%;
        padding-bottom: 1%;
        background: $blue-gray;
        @include transition-property(all);
        @include transition-duration(.2s);
        @include transition-timing-function(ease-in);
        > p{
          @include bebas-neue();
          color: $off-white;
          font-size: 1.4em;
          line-height: 1.1em;
          margin-bottom: 0px;
        }
        .grid-item:hover &{
          background: $blue-gray;
        }
      }
      &:hover{
        >.img-container:after{
          background-color: transparent;
        }
        >.centered-text-container{
          background: darken($blue-gray, 10%);
        }
      }
    }
  }
}
