.portfolio-item-grid{
  @include outer-container;
  > li{
    @include span-columns(12);
    @include media($small-screen) {
      @include span-columns(6);
      @include omega(2n);
    }
    @include media($medium-screen) {
      @include span-columns(3);
      @include omega(4n);
    }
    @include media($large-screen-up) {
      @include span-columns(4);
      @include omega(3n);
    }
    > a {
      width: 100%;
      display: block;
      > img {
        width: 100%;
      }
    }
  }
}
