@include font-face("Ostrich Sans", "../fonts/ostrich-sans-medium", $file-formats: woff ttf svg eot);
@include font-face("Ostrich Sans Inline", "../fonts/ostrich-sans-inline-regular", $file-formats: woff ttf svg eot);
@include font-face("League Gothic", "../fonts/leaguegothic-regular-webfont", $file-formats: woff ttf svg eot);
@include font-face("Bebase Neue", "../fonts/BebasNeue_Regular", $file-formats: woff ttf svg eot);
@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@mixin ostrich-sans() {
  font-family: 'Ostrich Sans', sans-serif;
}
@mixin ostrich-sans-inline() {
  font-family: 'Ostrich Sans Inline', sans-serif;
  font-weight: 300;
}
@mixin league-gothic() {
  font-family: 'League Gothic', sans-serif;
  font-weight: 200;
}
@mixin archivo-narrow() {
  font-family: 'Archivo Narrow', sans-serif;
}
@mixin bebas-neue(){
  font-family: 'Bebas Neue', sans-serif;
}

@mixin roboto(){
  font-family: 'Roboto', sans-serif;
}


body {
  color: $base-font-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
